{% extends 'base.html' %}

{% block title %}
Home
{% endblock %}

{% block body %}


{% if search_movies %}


<div class="container">
	<br>
	<br>
	<div class="page-header">
		
		<h1 class="my-4 text-center text-lg-left text-danger">Searched Movies List</h1>

	</div>
	<div class="row">

		{% for Movie in search_movies %}



		<div class="col-lg-4">
			<a href="{% url 'movie:movie-detail' Movie.slug %}" class="d-block mb-4 h-100">
				<img class="img-responsive img-rounded" src="{{ Movie.poster.url }}" alt=""width="300" height="350">
				
			</a>
			<strong><h2 class="text-center"> {{ Movie }}</h2></strong>

		</div>


		{% endfor %}

	</div>

<h2 class="text-center">
	{% if search_movies.has_other_pages %}
  <ul class="pagination">
    {% if search_movies.has_previous %}
      <li><a href="?page={{ search_movies.previous_page_number }}">&laquo;</a></li>
    {% else %}
      <li class="disabled"><span>&laquo;</span></li>
    {% endif %}
    {% for i in search_movies.paginator.page_range %}
      {% if search_movies.number == i %}
        <li class="active"><span>{{ i }} <span class="sr-only">(current)</span></span></li>
      {% else %}
        <li><a href="?page={{ i }}">{{ i }}</a></li>
      {% endif %}
    {% endfor %}
    {% if search_movies.has_next %}
      <li><a href="?page={{ search_movies.next_page_number }}">&raquo;</a></li>
    {% else %}
      <li class="disabled"><span>&raquo;</span></li>
    {% endif %}
  </ul>
{% endif %}
</h2>


</div>
{% else %}

	
<div class="container">
	
	<div class="page-header">
		<h1 class="my-4 text-center text-lg-left text-danger">Now Showing Movies</h1>

	</div>
	
	<br>

	<div class="row">

		{% for now_showing_movie in now_showing_movies %}



		<div class="col-lg-4">
			<a href="{% url 'movie:movie-detail' now_showing_movie.slug %}" class="d-block mb-4 h-100">
				<img class="img-rounded img-responsive" src="{{ now_showing_movie.poster.url }}" alt="" width="300" height="350">
				
			</a>
			<strong><h2 class="text-center"> {{ now_showing_movie }}</h2></strong>
		</div>


		{% endfor %}

</div>
<br>



<br>
<div class="container">
	<br>
	<br>
	<div class="page-header">
		
		<h1 class="my-4 text-center text-lg-left text-danger">Upcoming Movies</h1>

	</div>
	<div class="row">

		{% for Movie in up_coming_movies %}



		<div class="col-lg-4">
			<a href="{% url 'movie:movie-detail' Movie.slug %}" class="d-block mb-4 h-100">
				<img class="img-responsive img-rounded" src="{{ Movie.poster.url }}" alt=""width="300" height="350">
				
			</a>
			<strong><h2 class="text-center"> {{ Movie }}</h2></strong>

		</div>


		{% endfor %}
	</div>

<h2 class="text-center">
	{% if up_coming_movies.has_other_pages %}
  <ul class="pagination">
    {% if up_coming_movies.has_previous %}
      <li><a href="?page={{ up_coming_movies.previous_page_number }}">&laquo;</a></li>
    {% else %}
      <li class="disabled"><span>&laquo;</span></li>
    {% endif %}
    {% for i in up_coming_movies.paginator.page_range %}
      {% if up_coming_movies.number == i %}
        <li class="active"><span>{{ i }} <span class="sr-only">(current)</span></span></li>
      {% else %}
        <li><a href="?page={{ i }}">{{ i }}</a></li>
      {% endif %}
    {% endfor %}
    {% if up_coming_movies.has_next %}
      <li><a href="?page={{ up_coming_movies.next_page_number }}">&raquo;</a></li>
    {% else %}
      <li class="disabled"><span>&raquo;</span></li>
    {% endif %}
  </ul>
{% endif %}
</h2>

</div>


{% endif %}

<style type="text/css">
	

img {
    width: 500px; /* You can set the dimensions to whatever you want */
    height: 300px;
    object-fit: cover;
}
</style>

{% endblock%}
